<footer class="bg-dark text-light mt-5 pt-5 pb-3">
  <div class="container">
    <div class="row">

      <!-- Left Column -->
      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase mb-3">About</h5>
        <ul class="list-unstyled">
          <li><%= link_to "About Us", about_path, class: "text-decoration-none text-light" %></li>
          <li><%= link_to "Contact", contact_path, class: "text-decoration-none text-light" %></li>
        </ul>
      </div>

      <!-- Middle Column -->
      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase mb-3">Account</h5>
        <ul class="list-unstyled">
          <% if user_signed_in? %>
            <li class="text-light">👋 Logged in as <%= current_user.email %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "text-decoration-none text-light" %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path, class: "text-decoration-none text-light" %></li>
            <li><%= link_to "Login", new_user_session_path, class: "text-decoration-none text-light" %></li>
          <% end %>
        </ul>
      </div>

      <!-- Right Column -->
      <div class="col-md-4 mb-4 text-md-end">
        <h5 class="text-uppercase mb-3">Follow Us</h5>
        <a href="#" class="text-light fs-5 me-3"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-light fs-5 me-3"><i class="bi bi-twitter"></i></a>
        <a href="#" class="text-light fs-5"><i class="bi bi-github"></i></a>
      </div>
    </div>

    <hr class="bg-secondary">

    <div class="text-center small text-muted">
      &copy; <%= Time.current.year %> HR-Mitra. All rights reserved.
    </div>
  </div>
</footer>
