<%= form_with model: document, local: true do |form| %>
  <% if document.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h4>
      <ul>
        <% document.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :doc_type, "Document Type", class: "form-label" %>
    <%= form.select :doc_type, options_for_select(Document::DOC_TYPES, selected: document.doc_type), { prompt: "Select from the Options"}, class: "form-select form-select-lg rounded-0" %>
  </div>

  <div class="mb-3">
    <%= form.label :employee_id, "Associated Employee", class: "form-label" %>
    <%= form.collection_select :employee_id, Employee.all, :id, :name, { prompt: "Select an employee" }, { class: "form-select" } %>
  </div>

  <div class="mt-4">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
