<%= form_with(model: [@project, @bug], local: true) do |f| %>
  <% if @bug.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @bug.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless current_user.is_developer? %>
    <div class="mb-3">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :bug_category %>
      <%= f.select :bug_category, Bug.bug_categories.keys.map { |k| [k.humanize, k] }, {}, class: "form-select" %>
    </div>
  <% end %>

  <% if current_user.is_manager? %>
    <div class="mb-3">
      <%= f.label :progress_state %>
      <%= f.select :progress_state, Bug.progress_states.keys.map { |k| [k.humanize, k] }, {}, class: "form-select" %>
    </div>

    <%= f.label :developer_ids, "Assign Developers" %>
<%= f.collection_select :developer_ids,
                        @project.users.where(role: "is_developer"),
                        :id,
                        :email,
                        { selected: @bug.developer_ids },
                        { multiple: true, class: "form-select" } %>


  <% elsif current_user.is_developer? %>
    <div class="mb-3">
      <%= f.label :progress_state %>
      <%= f.select :progress_state, Bug.progress_states.keys.map { |k| [k.humanize, k] }, {}, class: "form-select" %>
    </div>
  <% end %>

  <% unless current_user.is_developer? %>
    <div class="mb-3">
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control" %>
    </div>
  <% end %>

  <%= f.submit "Submit Bug", class: "btn btn-primary" %>
<% end %>
