<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bugzila" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

    <style>
      html, body {
        height: 100%;
        margin: 0;
      }

      body {
        display: flex;
        flex-direction: column;
      }

      main {
        flex: 1;
      }
    </style>
  </head>



  <body>
  <header>
      <%= render "shared/header" %>
    </header>

    <main class="container mt-3 mb-3">
      <% flash.each do |type, message| %>
        <% alert_class = case type.to_sym
          when :notice then "alert-success"
          when :alert  then "alert-danger"
          when :error  then "alert-danger"
          when :success then "alert-success"
          when :warning then "alert-warning"
          else "alert-info"
        end %>
        <div id="flash-notice" class="alert <%= alert_class %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <%= yield %>
    </main>

    <%= render "shared/footer" %>



<script>
  document.addEventListener("DOMContentLoaded", () => {
    const notice = document.getElementById("flash-notice");
    if (notice) {
      setTimeout(() => {
        notice.classList.remove("show");
        notice.classList.add("hide");
        setTimeout(() => notice.remove(), 500); // Remove after transition
      }, 3000); // Hide after 3 seconds
    }
  });
</script>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/@rails/ujs@7.0.0/lib/assets/compiled/rails-ujs.js"></script>
<script>
  Rails.start()
</script>

  </body>
</html>
